{% extends 'base.html' %}

{% block content %}
<h2>Promociones activas</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Desde/Hasta</th>
      <th>Ítems</th>
      <th>ver</th>
    </tr>
  </thead>
  <tbody>
    {% for promo in promociones %}
    <tr>
        <td>{{ promo.id }}</td>
        <td>{{ promo.promotion_type }}</td>
        <td>{{ promo.name }}</td>
        <td>{{ promo.status }}</td>
        <td>{{ promo.start_date }} - {{ promo.finish_date }}</td>
        <td>{{ promo.elegibles }} elegibles{% if promo.participando %} | {{ promo.participando }} participando{% endif %}</td>
        <td>
            <a href="{{ url_for('promociones.ver_items', promotion_id=promo.id, promotion_type=promo.type) }}">
                Ver ítems
            </a>
        </td>


    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
