{% extends 'base.html' %}

{% block content %}
<h2>Promociones activas</h2>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tipo</th>
      <th>Nombre</th>
      <th>Estado</th>
      <th>Inicio</th>
      <th>Fin</th>
    </tr>
  </thead>
  <tbody>
    {% for promo in promociones %}
    <tr>
        <td>{{ promo.id }}</td>
        <td>{{ promo.promotion_type }}</td>
        <td>{{ promo.name }}</td>
        <td>{{ promo.status }}</td>
        <td>{{ promo.start_date }}</td>
        <td>{{ promo.finish_date }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
